aside {
  @apply bg-white fixed inset-y-0 m-5 rounded-lg p-6 w-72 h-auto flex flex-wrap flex-col justify-between shadow-md;

  .close-mobile-wrapper {
    position: absolute;
    top: 0;
    right: 0;
  }

  .sidebar-wrapper {
    @apply mt-5;
  }
}

main {
  margin-left: 21.25rem !important;
  @apply relative h-full max-h-screen mt-5 mr-5;

  .search-bar-wrapper {
    @apply rounded-lg mb-5 flex justify-end items-center;

    .search-bar {
      .general-input{
        @apply
        rounded-r-none;
      }
      .search-bar-button {
        @apply
          bg-white
            rounded-r-lg;
      }
    }
  }

  .router-outlet-wrapper {
    @apply bg-white rounded-lg p-10 shadow-md;
  }
}