<section class="filters-wrapper">

    <div class="search-bar-wrapper">

        <div class="search-bar">
            <input type="text" placeholder="Search" (input)="onTypeSearchBar($event)">
        </div>
        <div class="search-button">
            <button (click)="filterBySearchBar()">Search</button>
        </div>

    </div>

    <div class="status-wrapper">

        <input type="radio" id="toDoOption" name="status" value="TODO" (change)="filterByStatus($event)" />
        <label for="toDoOption">To Do</label>
        <input type="radio" id="ongoingOption" name="status" value="ONGOING" (change)="filterByStatus($event)" />
        <label for="ongoingOption">Ongoing</label>
        <input type="radio" id="completedOption" name="status" value="COMPLETED"
            (change)="filterByStatus($event)" />
        <label for="completedOption">Completed</label>

    </div>

    <div class="sort-wrapper">

        <button (click)="sortTasks('name', (ascSortDate = !ascSortDate))">By Name</button>
        <button (click)="sortTasks('date', (ascSortDate = !ascSortDate))">By Date</button>

    </div>

    <div class="date-wrapper">

        <input type="date" id="startDate-picker" name="startDate-picker" [(ngModel)]="startDate" [max]="endDate" />
        <input type="date" id="endDate-picker" name="endDate-picker" [(ngModel)]="endDate" [min]="startDate" />
        <button (click)="filterByDatesRange()" [disabled]="startDate === '' && endDate === ''">set DatesRange</button>

    </div>

</section>

<section class="task-wrapper">

    @for (task of tasks(); track $index) {
    <div class="task">
        <p>Task name: {{task.name}}</p>
        <p>Status: {{task.status}}</p>
        <p>Date: {{task.dateCreated | date:'dd/MM/yyyy'}}</p>
    </div>
    } @empty {
    <h2>No tasks</h2>
    }

</section>