<!-- <section class="filters-wrapper">


    <div class="date-wrapper">

        <input type="date" id="startDate-picker" name="startDate-picker" [(ngModel)]="startDate" [max]="endDate" />
        <input type="date" id="endDate-picker" name="endDate-picker" [(ngModel)]="endDate" [min]="startDate" />
        <button (click)="filterByDatesRange()" [disabled]="startDate === '' && endDate === ''">set DatesRange</button>

    </div>

</section> -->

<section class="widgets-wrapper">

    <div class="sort-widget">
        <button class="flex items-center"
            (click)="taskLocalService.sortTasks('name', (taskLocalService.ascSortName = !taskLocalService.ascSortName))">
            <span>Order by name</span>
            <svg-wrapper [color]="'#9ca3afaa'" [key]="'ascSortName'" [width]="'1rem'"
                [svg]="taskLocalService.ascSortName ? '../../../../assets/svg-icons/arrow-narrow-down.svg' : '../../../../assets/svg-icons/arrow-narrow-up.svg'"></svg-wrapper>

        </button>
        <button class="flex items-center"
            (click)="taskLocalService.sortTasks('date', (taskLocalService.ascSortDate = !taskLocalService.ascSortDate))">
            <span>Order by date</span>
            <svg-wrapper [color]="'#9ca3afaa'" [key]="'ascSortDate'" [width]="'1rem'"
                [svg]="taskLocalService.ascSortDate ? '../../../../assets/svg-icons/arrow-narrow-down.svg' : '../../../../assets/svg-icons/arrow-narrow-up.svg'"></svg-wrapper>
        </button>
    </div>

    <div class="dates-widget">

        <input class="general-input" type="date" id="startDate-picker" name="startDate-picker" [(ngModel)]="taskLocalService.startDate"
            [max]="taskLocalService.endDate" />
        <span>To</span>
        <input class="general-input" type="date" id="endDate-picker" name="endDate-picker" [(ngModel)]="taskLocalService.endDate"
            [min]="taskLocalService.startDate" />
        <button (click)="taskLocalService.filterByDatesRange()"
            [disabled]="taskLocalService.startDate === '' && taskLocalService.endDate === ''">
            <svg-wrapper 
                [color]="'#6366f1aa'"
                [key]="'ascSortDate'"
                [width]="'1rem'"
                [svg]="'../../../../assets/svg-icons/calendar.svg'">
            </svg-wrapper>
        </button>

    </div>

    <div class="search-bar-widget">
        <input placeholder="Search" class="general-input" type="text"
            (keyup)="taskLocalService.onTypeSearchBar($event)">
    </div>

</section>