/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import './app//styles/tailwind-index';

html, body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    font-optical-sizing: auto !important;
    font-style: normal !important;
    background: linear-gradient(to bottom, rgb(99 102 241) 32%, rgb(243 244 246) 30%);
    background-attachment: fixed !important;
}