/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import './app//styles/tailwind-index';

html {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    font-optical-sizing: auto !important;
    font-style: normal !important;
    background-color: rgb(243 244 246) !important;
}