/* You can add global styles to this file, and also import other style files */
@tailwind components;
@tailwind utilities;

/* Order */
@layer reset, primeng;

/* Reset CSS */
@layer reset {
    button,
    input {
        &:focus {
            box-shadow: none;
        }
    }
}

html, body {
    margin: 0;
    padding: 0;
}